<div class="col s12">
  <h2 class="header">About</h2>
  <p class="lead underlined">A Angular 2 application built in ES6 with Babel, Webpack &amp; Gulp.</p>
  <ul>
    <li>No Typescript — uses ES6 plus Babel to support class/parameter decorators and parameter type annotations.</li>
    <li>Transpiling ES6 JavaScript with Babel, and assembly them and HTML-templates files into one with Webpack.</li>
    <li>Automates bundling with Gulp.</li>
    <li>Automatically rebuild on changes.</li>
    <br>
    <li>and also:</li>
    <li>"bicycle" storage service and dummy Node.js server, generated each start a new weather.</li>
  </ul>
</div>
