<div class="navbar-fixed">
  <nav class="amber darken-4">
    <div class="nav-wrapper container">
      <a [routerLink]="['about']" class="brand-logo right">Rainman</a>
      <!--a href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a-->
      <div class="activator left input-field" materialize="dropdown" data-activates="select-city" data-beloworigin="true">
        <i class="left material-icons">location_on</i><span class="left">{{city.name}}</span>
      </div>
      <ul id="select-city" class="dropdown-content">
        <li *ngFor="let _city of cities" [value]="_city.id"><a [routerLink]="['', _city.name ]" routerLinkActive="active">{{_city.name}}</a></li>
      </ul>
    </div>
  </nav>
</div>
