<div class="valign">
<h4 class="col s12 header">{{city.name}}</h4>

<div *ngIf="viewType === 'module'" class="row">
<div *ngFor="let data of weather" class="col s12 m6 l4 ">
  <div [ngClass]="cardClasses(data)">
    <div class="card-image col s5 m4 center-align grey-text text-lighten-4">
      <h5>{{data.date | amDateFormat:'ddd&nbsp;D MMMM'}}</h5>
      <h4><i class="{{data.weatherIcon}}"></i></h4>
      <h5><i class="wi wi-thermometer"></i> {{data.temperature}}<i class="wi wi-celsius"></i></h5>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5><span *ngIf="data.windspeed > 0"><i class="{{data.windIcon}}"></i><small> {{data.windspeed}}m/s</small></span></h5>
        <h5><small>{{data.pressure}}&nbsp;mm&nbsp;Hg</small>&nbsp;</h5>
        <h5><small>{{data.humidity}}</small> <i class="wi wi-humidity"></i></h5>
        
      </div>
      <div class="card-action">
        <a [routerLink]="[data.date]"><i class="activator material-icons right">mode_edit</i></a>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="viewType === 'list'" class="row">
  <table class="weather-table bordered col s12">
    <thead>
      <tr>
          <th data-field="date"></th>
          <th data-field="fall"></th>
          <th data-field="temperature"><h5><i class="wi wi-celsius"></i></h5></th>
          <th data-field="wind">m/s</th>
          <th data-field="pressure"><i class="wi wi-barometer"></i><small>&nbsp;mm&nbsp;Hg</small></th>
          <th data-field="humidity"><i class="wi wi-humidity"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data2 of weather">
        <td><a [routerLink]="[data2.date]"><i class="activator material-icons left tiny">mode_edit</i></a>{{data2.date | amDateFormat:'ddd&nbsp;D MMM'}}</td>
        <td><i class="{{data2.weatherIcon}}"></i></td>
        <td style="white-space: nowrap">{{data2.temperature}}<i class="wi wi-degrees"></i></td>
        <td><i class="{{data2.windIcon}}"></i> {{data2.windspeed}}<span class="hide-on-small-only">&nbsp;m/s</span></td>
        <td>{{data2.pressure}}<span class="hide-on-small-only">&nbsp;mm&nbsp;Hg</span></td>
        <td>{{data2.humidity}}%</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col s12 center-align"> <!-- add day -->
    <button (click)="addDay()" class="btn amber darken-4"><i class="material-icons large">add</i></button>
  </div>
</div>

</div>

