<app-menu [cities]="cities" [city]="city"></app-menu>

<main class="valign-wrapper grey-text text-darken-3">
    <div class="container body-container row">
      <router-outlet></router-outlet>
    </div>
</main>

<footer class="page-footer amber darken-4 grey-text text-lighten-4">
  <div class="container">
    <div class="row center-align">
      <div class="col s4 valign-wrapper">
        <span class="hide">
        <i *ngIf="isDevelopment" class="material-icons small">settings_applications</i>
        <span *ngIf="isDevelopment" class="valign">dev mode</span>
        </span>
      </div>
      <div class="col s4">
        <i (click)="toggleView()" class="activator material-icons small view-change">view_{{viewType}}</i>
      </div>
      <div class="col s4 valign-wrapper">
        <h4 class="valign hide" style="margin: 0 auto;"><i class="wi wi-celsius"></i></h4>
      </div>
    </div>
  </div>
</footer>