<div class="card -panel col s12">
  <div class="card-content">
    <h4 class="card-title">{{weather.date | amDateFormat:'D&nbsp;MMMM'}} <span class="header">{{city}}</span> weather editor</h4>
    <p class="lead underlined"></p>
    <div class="row">
      <h5>
        <div class="col s2 center-align">
          <i class="{{weather.weatherIcon}}"></i>
        </div>
        <div class="col s4 m2 center-align">
          <i class="wi wi-thermometer"></i> {{weather.temperature}}<i class="wi wi-celsius hide-on-small-only"></i>
        </div>        
        <div class="col s6 m2 center-align">
          <i class="wi wi-small-craft-advisory hide-on-small-only"></i><i class="{{weather.windIcon}}"></i> {{weather.windspeed}} m/s
        </div>        
        <div class="col s6 m2 center-align">
          <i class="wi wi-barometer"></i> {{weather.pressure}}<span class="hide-on-small-only">&nbsp;mm&nbsp;Hg</span>
        </div>        
        <div class="col s6 m2 center-align">
          <i class="wi wi-humidity"></i> {{weather.humidity}}
        </div>        
      </h5>
    </div>
    <div class="row">
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-thermometer prefix"></i><input class="right" type="range" id="temperature" name="temperature" min="-80" max="70" [(ngModel)]="weather.temperature">
      </div>
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-day-sunny prefix"></i>
        <input class="postfix-input" type="range" id="cloudiness" name="cloudiness" min="0" max="100" step="1" [(ngModel)]="weather.cloudiness">
        <i class="wi wi-day-cloudy postfix"></i>
      </div>
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-day-cloudy prefix"></i>
        <input class="postfix-input" type="range" id="fall" name="fall" min="0" max="2" step="0.1" [(ngModel)]="weather.fall">
        <i class="wi wi-day-rain postfix"></i>
      </div>
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-small-craft-advisory prefix"></i>
        <input class="postfix-input" type="range" id="windspeed" name="windspeed" min="0" max="30" [(ngModel)]="weather.windspeed">
        <i class="wi wi-tornado postfix"></i>
      </div>
      <div class="input-field col s6 m2 l2 center-align">
        <span><i class="wi wi-lightning prefix"></i>
        <input type="checkbox" id="storm" name="storm" [(ngModel)]="weather.storm"><label for="storm" style="margin-left: 2rem;"></label></span>
      </div>
      <div class="input-field col s6 m2 l1 center-align">
        <span><i class="wi wi-wind wi-wind-from-{{weather.wind}} prefix" (click)="changeWindDirection()"></i></span>
      </div>
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-barometer prefix"></i>
        <input type="range" id="pressure" name="pressure" min="700" max="800" [(ngModel)]="weather.pressure">
      </div>
      <div class="input-field col s12 m4 l3">
        <i class="wi wi-humidity prefix"></i>
        <input type="range" id="humidity" name="humidity" min="0" max="100" [(ngModel)]="weather.humidity">
      </div>
    </div>
  </div>  
  <div class="card-action">
    <button class="btn disabled" (click)="cancel()">Cancel</button>
    <button class="btn amber darken-4" (click)="update()">Update</button>
  </div>
</div>
