<div class="col s12">
  <h2 class="header">Welcome</h2>
  <h5>to the Rainman app</h5>
  <p>Please, select city from the navigation header above or you can proceed to <a [routerLink]="['', 'Moscow']">{{ '{' }}default city{{ '}' }}</a> :)</p>
  <p>Also, you can toggle view mode between card and table by tapping icon on the bottom panel.</p>
</div>
